key.txt
.DS_Store
.venv/
input_token_count.txt
output_token_count.txt
experiments/
source_files/
results/
input.txt
pseudocode.txt
__pycache__/
test_source_files/
Z-test-coding/
prompts/
experiments_v2/
experiments_v4/
experiments_v3/
experiments_v5/
experiments_v6/
experiments_v7/
experiments_v8/
experiments_v9/
experiments_v10/
